<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link href="https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% load static %}
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
    <!-- <link rel="stylesheet" href="../static/css/home_page.css"> -->

</head>
<body>
    <div class="front-container">

        <header class="navbar">
            <div class="logo">ElectroDeals</div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </nav>
            <div class="icons">
                <i class="fa fa-search"></i>
                <i class="fa fa-cart-shopping"></i>
                <i class="fa-regular fa-user"></i>
                <i class="fa-solid fa-bars"></i>
            </div>
    </header>
    
    <main class="main-section">
        <div class="text-content">
            <h1>SUDIO</h1>
            <h2 class="decleration">EASY V3 BTN</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis gravida turpis, id iaculis libero sollicitudin vel.</p>
            <div class="buttons">
                <a href="#" class="learn-btn">Learn more</a>
                <a href="#" class="buy-btn">Buy Now</a>
            </div>
        </div>
        <div class="image-content">
            <img src="" alt="Product">
        </div>
    </main>
<br>
    <div class="front-product-container">
        <div class="front-product">
            <div class="circle-background">
                <img src="#" alt="Product 1">
            </div>
        </div>
        <div class="front-product">
            <div class="rounded-square-background" >
                <img src="#" alt="Product 2">
            </div>
        </div>
        <div class="front-product">
            <div class="rounded-square-background dark">
                <img src="#" alt="product 3">
            </div>
        </div>
    </div>


    <section class="categories">
        <h2>Categories</h2>
        <div class="category-container">
            <div class="category">
                <div class="icon" style="background-color: #eae9e5;"><img src="#" alt="Category"></div>
                <p>Category</p>
            </div>
            <div class="category">
                <div class="icon" style="background-color: #d6cfe7;"><img src="#" alt="Category"></div>
                <p>Category</p>
            </div>
            <div class="category">
                <div class="icon" style="background-color: #b2dbf0;"><img src="#" alt="Category"></div>
                <p>Category</p>
            </div>
            <div class="category">
                <div class="icon" style="background-color: #ffeda6;"><img src="#" alt="Category"></div>
                <p>Category</p>
            </div>
            <div class="category">
                <div class="icon" style="background-color: #f2f2f2;"><img src="#" alt="Category"></div>
                <p>Cover</p>
            </div>
        </div>
    </section>

    <div class="related-products">
        <h2>Latest Products</h2>
    
        <div class="products-grid">
            <div class="product-card">
                <div class="product-image-placeholder"></div>
                <div class="product-title">ROG Zephyrus G14</div>
                <div class="price">$1,899.99</div>
            </div>
            <div class="product-card">
                <div class="product-image-placeholder"></div>
                <div class="product-title">Alienware m15 R7</div>
                <div class="price">$2,499.99</div>
            </div>
            <div class="product-card">
                <div class="product-image-placeholder"></div>
                <div class="product-title">MSI Stealth 15M</div>
                <div class="price">$1,699.99</div>
            </div>
            <div class="product-card">
                <div class="product-image-placeholder"></div>
                <div class="product-title">MSI Stealth 15M</div>
                <div class="price">$1,938.99</div>
            </div>
            <div class="product-card">
                <div class="product-image-placeholder"></div>
                <div class="product-title">HP Omen 16</div>
                <div class="price">$1,299.99</div>
            </div>
            <div class="product-card">
                <div class="product-image-placeholder"></div>
                <div class="product-title">Acer Predator Helios 300</div>
                <div class="price">$1,799.99</div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="section">
                <h3>Contact Info</h3>
                <ul>
                    <li><a href="#">Email Us</a></li>
                    <li><a href="#">Call Us</a></li>
                </ul>
            </div>
            <div class="section">
                <h3>Categories</h3>
                <ul>
                    <li><a href="#">Laptops</a></li>
                    <li><a href="#">Phones</a></li>
                    <li><a href="#">Accessories</a></li>
                </ul>
            </div>
            <div class="section">
                <h3>Support</h3>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help Center</a></li>
                </ul>
            </div>
            <div class="section">
                <h3>Payments</h3>
                <ul>
                    <li><a href="#">Credit Cards</a></li>
                    <li><a href="#">PayPal</a></li>
                    <li><a href="#">Bank Transfer</a></li>
                </ul>
            </div>
        </div>
        <div class="line">
        <hr class="weak-line">

        </div>
        <div class="footer-bottom">
            
            <p class="copyright">© 2024 ElectroDeals. All rights reserved.</p>
            <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <span class="separator">|</span>
                <a href="#">Terms</a>
                <span class="separator">|</span>
                <a href="#">Support</a>
            </div>
        </div>
    </footer>

</div>
</body>
</htm>