.change-password-container {
    background-color: rgb(247, 245, 239);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.change-password-container h2 {
    color: rgb(144, 124, 114);
    margin-bottom: 20px;
}

.change-password-container form {
    margin-top: 20px;
}

.change-password-container .btn {
    display: inline-block;
    background-color: rgb(144, 124, 114);
    color: rgb(247, 245, 239);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.change-password-container .btn:hover {
    background-color: rgb(221, 216, 211);
    color: rgb(144, 124, 114);
}
