
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.change-password-container {
    width: 50%;
    max-width: 550px;
    margin: 40px auto;
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.change-password-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.change-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group p {
    width: 100%;
    margin-bottom: 15px;
    text-align: left; 
    font-size: 1em;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: #7e7a72;
    outline: none;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

/* Button styling */
.change-password-btn {
    background-color: #7e7a72;
    color: white;
    padding: 12px 20px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 250px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.change-password-btn:hover {
    background-color: #5e5a52;
}

.change-password-btn:focus {
    outline: none;
}

@media (max-width: 768px) {
    .change-password-container {
        width: 90%;
        padding: 15px;
    }
    .change-password-title {
        font-size: 1.8em;
    }
    .change-password-btn {
        font-size: 1em;
        max-width: 100%;
    }
}
