
.product-container {
    display: flex;
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

.product-sidebar {
    width: 15%;
    background: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.product-brands, .product-categories {
    margin-bottom: 30px;
}

.product-brands h3, .product-categories h3 {
    font-size: 24px;
    color: #333;
}

.product-brands ul, .product-categories ul {
    list-style: none;
    padding: 0;
}

.product-brands li, .product-categories li {
    margin-bottom: 10px;
}

.product-brands a, .product-categories a {
    text-decoration: none;
    color: #555;
    font-size: 16px;
    transition: color 0.3s;
}

.product-brands a:hover, .product-categories a:hover {
    color: #000;
}

.product-list-container {
    text-align: center;
    margin-left: 30px;
    padding: 30px;
    width: 90%;
}

.product-list-container p {
    font-size: 40px;
    text-align: left;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}

.product-list-container .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    /* justify-content: space-between; */
    /* margin: 20px 0 30px; */
}

.product-list-container .product-item {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-list-container .product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.product-list-container .product-item .product-image-placeholder {
    aspect-ratio: 3/2;
    object-fit: contain;
}

.product-list-container .product-item .product-title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    color: #555;
}

.product-list-container .product-item .price {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

