
*{
    margin: 0;
    padding: 0;
}


hr.strong-line {
    border: none;
    height: 3px;
    background-color: #333;
}

.line {
    text-align: center;
}

hr.weak-line {
    border: none;
    height: 1px;
    background-color: white;
    width: 100%;
}


.main-section {
    /* margin-top: 85px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px 60px 200px 60px;
    background-color: rgb(221, 216, 211)
}

.text-content {
    max-width: 750px;
}

.text-content h1 {
    font-size: 36px;
    font-style: italic;
    color: #7e7a72;
}

.text-content h2 {
    font-size: 110px;
    color: #5d564e;
}

.text-content p{
    font-size: 18px;
    margin-bottom: 20px;
}
.buttons {
    display: flex;
    gap: 40px;
}

.buttons a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

.learn-btn {
    background: transparent;
    border: 1px solid #7e7a72;
    color: #7e7a72;
}

.buy-btn {
    background: #7e7a72;
    color: #fff;
}

.auth-btn a {
    text-decoration: none;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold;
    color: #7e7a72;
}
.auth-btn {
    background: transparent;
    border: 1px solid #7e7a72;
    border-radius: 5px;
    height: 30px;
    margin-right: 20px;
}

.image-content img {
    max-width: 100%;
    border-radius: 10px;
}

.front-brands{
    text-align: start;
    padding: 20px;
    margin-top: 180px;
    width: 95%; 
    margin: 0 auto; 
}
.brands {
    display: flex;
    justify-content: space-between;
    text-align: center;
    transition: transform 500ms ease-in-out;
    margin-left: 10px;
    gap: 180px;
}

.front-brands h2 {
    font-size: 40px;
    text-align: left;
    margin-bottom: 20px;
    color: black;
}


.brand-container {
    display: flex; 
    align-items: center;
    flex-direction: row;
    margin-left: 20px;  
}



.brand {
    text-align: center;
}
.brand-icon {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;   
}

.brand-icon img{
    max-width: 100%;
    max-height: auto;
    border-radius: 50%;
}

.brand p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(126, 122, 114);
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-btn {
    position: absolute;
    height: auto;
    background-color: rgba(0, 0, 0);
    color: white;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    z-index: 10;
}

.prev-btn {
    left: 1px;
    margin-bottom: 40px;
}

.next-btn {
    right: 1px;
    margin-bottom: 40px;

}

.slider-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}



.front-categories {
    text-align: left;
    padding: 20px;
    margin-top: 180px;
    width: 95%; 
    margin: 0 auto; 
}
.categories{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.front-categories h2 {
    font-size: 40px;
    text-align: left;
    margin-bottom: 20px;
    color: black;
}

.category-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.categories p{
    text-decoration: none;
    color: rgb(126, 122, 114);
}


.category-icon {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10%;
}
.category-icon img{
    max-height: auto;
    max-width: 100%;
    border-radius: 10%;
}

.icon img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}

.category p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.icon:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


.related-products-home {
    text-align: center;
    padding: 20px;
    margin-top: 180px;
    width: 95%; 
    margin: 0 auto; 
}


.related-products-home p {
    font-size: 40px;
    text-align: left;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}

.related-products-home .products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 40px;
}

.related-products-home .product-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.related-products-home .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.related-products-home .product-card .product-image-placeholder {
    aspect-ratio: 3/2;
    object-fit: contain;
  
}

.related-products-home .product-card .product-title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    color: #555;
}

.related-products-home .product-card .price {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.related-products-home .product-card .add-to-cart-btn {
    background-color: #7e7a72; 
    font-weight: bold;
    color: white; 
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 8px;
    transition: background-color 0.3s;
}

.related-products-home .product-card .add-to-cart-btn:hover {
    background-color:  #5e5a52;
}
