{% extends 'dashboard.html' %}
{% load static %}

{% block extra_css %} 
<link rel="stylesheet" href="{% static 'css/add.css' %}">
{% endblock %}

{% block content %}
<div id="product-details-container">
    <div class="product-details">
        <h2>{{form.name}}</h2>
        <p><strong>Gmail :</strong> {{ form.email }}</p>
        <p><strong>Message :</strong>{{ form.message }}</p>
        <div style="display: flex; gap: 20px;">
            <a href="{% url 'message_dash' %}" class="add" style="text-decoration: none;">Close</a>

        </div>
    </div>
</div>

{% endblock %}