{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
<div id="product-details-container">
    <div class="product-details">
        <h2>{{product.name}}</h2>
        <img src="{{ product.image.url }}" alt="Product Image" style="max-width: 200px;" />
        <p><strong>Price:</strong> Rs {{ product.price }}</p>
        <p><strong>Category:</strong> {{ product.category.name }}</p>
        <p><strong>Brand:</strong>{{ product.brand.name }}</p>
        <p><strong>Display:</strong> {{ product.display }}</p>
        <p><strong>RAM:</strong> {{ product.ram }}</p>
        <p><strong>Storage:</strong> {{ product.storage }}</p>
        <p><strong>Battery:</strong> {{ product.battery }}</p>
        <p><strong>Processor:</strong> {{ product.processor }}</p>
        <p><strong>Camera:</strong> {{ product.camera }}</p>
        <p><strong>Stock:</strong> {{ product.quantity }}</p>
        <p><strong>Status:</strong> {{ product.status }}</p>
        <p><strong>Description:</strong> {{ product.description }}</p>
        <button>Close</button>
    </div>
</div>

{% endblock %}