{% extends 'dashboard.html' %}
{% load static %}

{% block extra_css %} 
<link rel="stylesheet" href="{% static 'css/add.css' %}">
{% endblock %}

{% block content %}
<div id="product-details-container">
    <div class="product-details">
        <h2>{{customer.user.username}}</h2>
        <p><strong>Name:</strong>{{ customer.name }}</p>
        <p><strong>Email:</strong> {{ customer.email }}</p>
        <div style="display: flex; gap: 20px;">
            <button class="add">Close</button>
        </div>
    </div>
</div>

{% endblock %}