* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f5ef;
    color: #7e7a72;
    line-height: 1.6;
}

.icons {
    display: flex;
    gap: 30px;
    font-size: 18px;
}


.front-container{
    padding:20px 60px 0px 60px  ;
    height: 850px;
    background-color:#ddd8d3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px;
    background: #ddd8d3;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 80px;

}

.navbar ul li a {
    text-decoration: none;
    color: #7e7a72;
    font-size: 20px;
    font-family: "MuseoModerno", sans-serif;
}

.navbar .icons {
    margin-left: 10px;
    font-size: 18px;
}

.main-section {
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    gap: 30px;
}

.text-content {
    max-width: 600px;
}

.text-content h1 {
    font-size: 36px;
    font-style: italic;
    color: #7e7a72;
}

.text-content h2 {
    font-size: 90px;
    color: #5d564e;
}


.buttons {
    display: flex;
    gap: 10px;
}

.buttons a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.learn-btn {
    background: transparent;
    border: 1px solid #7e7a72;
    color: #7e7a72;
}

.buy-btn {
    background: #7e7a72;
    color: #fff;
}

.image-content img {
    max-width: 100%;
    border-radius: 10px;
}

footer {
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
}

.front-product-container {
    display: flex;
    gap: 20px; /* Space between each item */
}

.front-product {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-background,
.rounded-square-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Circular shape */
    background-color: #ece9e4; /* Light gray */
}

.rounded-square-background {
    border-radius: 16px; /* Rounded square shape */
}

.rounded-square-background.dark {
    background-color: #5d5b59; /* Dark gray */
}

.circle-background img,
.rounded-square-background img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}