{% extends 'base.html' %}
{% load static %}
{% block title %}
    Add to cart
{% endblock %} 


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

<script type="text/javascript">
	var user = "{{request.user}}";
  </script>

{% block content %}
<div class="body">

    <div class="row">
        <div class="box-container">
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:1"><strong>Image</strong></div>
					<div style="flex:1"><strong>Product</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
				{% for item in items %}
<div class="cart-row">
    <div style="flex:1"><img class="row-image" src="{{item.product.image.url}}"></div>
    <div style="flex:1">
        <p>{{item.product.name}}</p>
        <p><strong>Stock: </strong>{{item.product.stock}}</p> 
    </div>
    <div style="flex:1"><p>Rs {{item.product.price|floatformat:2}}</p></div>
    <div style="flex:1">
        <p class="quantity">{{item.quantity}}</p>
        <div class="quantity">
            <img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'img/arrow-up.png' %}">
            <img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity  update-cart" src="{% static  'img/arrow-down.png' %}">
        </div>
        <img data-product="{{item.product.id}}" data-action="delete" class="delete-btn update-cart" src="{% static  'img/delete.png' %}" alt="Delete">
    </div>
    <div style="flex:1"><p>Rs {{item.get_total|floatformat:2}}</p></div>
</div>
{% endfor %}

			</div>

			<br>

			<div class="box-element">
				
				<a  class="btn continue-btn" href="{% url 'home' %}">&#x2190; Continue Shopping</a>
		
				<br>
				<br>
				<table class="table">
					<tr>
						<th><h3>Total Products:<strong>{{order.get_cart_items}}</strong></h5></th>
						<th><h3>Total:<strong> Rs {{order.get_cart_total|floatformat:2}}</strong></h5></th>
						<th>
							<a id="checkout-btn" style="float:right; margin:5px;" class="btn checkout-btn" href="{% url 'checkout' %}">Checkout</a>
						</th>
					</tr>
				</table>
		
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block extra_js %} 
<script src="{% static 'js/add_to_cart.js' %}"></script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
  let checkoutBtn = document.getElementById("checkout-btn");
  let totalProducts = parseInt("{{ order.get_cart_items }}");

  checkoutBtn.addEventListener("click", function (event) {
    if (totalProducts === 0) {
      event.preventDefault(); 
      alert("No items in the cart!");
    }
  });
});

</script>
{% endblock %}