{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/change_password.css' %}">
{% endblock %}

{% block content %}
<div class="change-password-container">
    <h2 class="change-password-title">Change Password</h2>
    <form class="change-password-form" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="change-password-btn">Change Password</button>
    </form>
</div>
{% endblock %}