{% extends 'base.html' %}
{% block title %}
    ElectroDeals
{% endblock %}  

{% block content %}
        <main class="main-section">
            <div class="text-content">
                <h1>SUDIO</h1>
                <h2 class="decleration">EASY V3 BTN</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis gravida turpis, id iaculis libero sollicitudin vel.</p>
                <div class="buttons">
                <a href="#" class="learn-btn">Learn more</a>
                <a href="#" class="buy-btn">Buy Now</a>
            </div>
        </div>
        <div class="image-content">
            <img src="" alt="Product">
        </div>
    </main>
<br>
<div class="front">

    <section class="front-brands">
        <h2>Brands</h2>
        <div class="slider-container">
        <button class="slider-btn prev-btn" onclick="goPrev()">&#10094;</button>
        <div class="brands">
            {% for brand in brand %}
            <div class="brand-container">
                <div class="brand">
                    <div class="brand-icon" style="background-color: white;">
                        <img src="{{brand.image.url}}" alt="{{brand.name}} logo">
                    </div>
                    <p>{{brand.name}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="slider-btn next-btn" onclick="goNext()">&#10095;</button>
    </div>
</section>

<section class="front-categories">
    <h2>Categories</h2>
    
    <div class="categories">
        
            {% for category in category %}       
        <div class="category-container">
            <div class="category">
                <div class="category-icon" style="background-color: #eae9e5;"><img src="{{category.image.url}}" alt="{{category.name}}"></div>
                <p>{{category.name}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

    <div class="related-products-home">
        <p>Latest Products</p>

           
        
        <div class="products-grid">
            {% for product in product %}   
            <div class="product-card">
                <div class="product-image-placeholder"><img src="{{product.image.url}}" alt="{{product.name}}"></div>
                <div class="product-title">{{product.name}}</div>
                <div class="price">{{product.price}}</div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</div>
</div>
{% endblock %}