{% extends 'base.html' %}
{% block title %}
    ElectroDeals
{% endblock %}  

{% block content %}
        <main class="main-section">
            <div class="text-content">
                <h1>SUDIO</h1>
                <h2 class="decleration">EASY V3 BTN</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis gravida turpis, id iaculis libero sollicitudin vel.</p>
                <div class="buttons">
                <a href="#" class="learn-btn">Learn more</a>
                <a href="#" class="buy-btn">Buy Now</a>
            </div>
        </div>
        <div class="image-content">
            <img src="" alt="Product">
        </div>
    </main>
<br>

<section class="front-brands">
    <h2>Brands</h2>
    <div class="slider-container">
        <button class="slider-btn prev-btn" onclick="moveSlider(-1)">&#10094;</button>
        <div class="brands">
            {% for brand in brand %}
            <div class="brand-container">
                <div class="brand">
                    <div class="brand-icon" style="background-color: white;">
                        <img src="{{brand.image.url}}" alt="{{brand.name}} logo">
                    </div>
                    <p>{{brand.name}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="slider-btn next-btn" onclick="moveSlider(1)">&#10095;</button>
    </div>
</section>




<section class="front-categories">
    <h2>Categories</h2>
    
        <div class="categories">
        
            {% for category in category %}       
        <div class="category-container">
            <div class="category">
                <div class="category-icon" style="background-color: #eae9e5;"><img src="{{category.image.url}}" alt="{{category.name}}"></div>
                <p>{{category.name}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

    <div class="related-products-home">
        <p>Latest Products</p>
    
        <div class="products-grid">
            <div class="product-card">
                <div class="product-image-placeholder"></div>
                <div class="product-title">ROG Zephyrus G14</div>
                <div class="price">$1,899.99</div>
            </div>
            <div class="product-card">
                <div class="product-image-placeholder"></div>
                <div class="product-title">Alienware m15 R7</div>
                <div class="price">$2,499.99</div>
            </div>
            <div class="product-card">
                <div class="product-image-placeholder"></div>
                <div class="product-title">MSI Stealth 15M</div>
                <div class="price">$1,699.99</div>
            </div>
            <div class="product-card">
                <div class="product-image-placeholder"></div>
                <div class="product-title">MSI Stealth 15M</div>
                <div class="price">$1,938.99</div>
            </div>
            <div class="product-card">
                <div class="product-image-placeholder"></div>
                <div class="product-title">HP Omen 16</div>
                <div class="price">$1,299.99</div>
            </div>
        
        </div>
    </div>

    </div>

    
{% endblock %}
