{% extends 'base.html' %}
{% load static %} 

{% block title %}
    Product Page
{% endblock %}  

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock %}
<script type="text/javascript">
    var user = "{{request.user}}";
  </script>

{% block content %} 

<main class="main">
    <div class="product-container-main">
        <div class="product-page">
            <div class="product-image">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            </div>

            <div class="product-details">
                <div class="product-title">{{ product.name }}</div>
                <div class="price"><strong>Rs {{ product.price }}</strong></div>
                <div class="specs">
                    <ul>
                        <li><strong>Brand :</strong> <span> {{ product.brand.name }}</span></li>
                        <li><strong>Category :</strong> <span>{{ product.category.name }}</span></li>
                        <li><strong>Description :</strong> <span>{{ product.description }}</span></li>
                    </ul>
                </div>

                
                <button data-product="{{ product.id }}" data-action="add" class="btn-add update-cart">
                    Add to Cart
                </button>
                <a href="{% url 'buy_now' product.id %}" class="btn-buy">Buy Now</a>
                
            </div>
        </div>
    </div>
</main>

<div class="related-products-home">
    <p>Related Products</p>
    <div class="products-grid">
        {% for related_product in related_products %}
        <div class="product-card">
            <a href="{% url 'product' product_id=related_product.id %}" class="product-link" style="text-decoration: none;">
                <div class="product-image-placeholder">
                    <img src="{{ related_product.image.url }}" alt="{{ related_product.name }}">
                </div>
                <div class="product-title">{{ related_product.name }}</div>
                <div class="price">Rs {{ related_product.price }}</div>
            </a>
            <button data-product="{{ related_product.id }}" data-action="add" class="add-to-cart-btn update-cart">
                Add to Cart
            </button>
        </div>
        {% endfor %}
    </div>
</div>


     
{% endblock %}

{% block extra_js %} 
<script src="{% static 'js/add_to_cart.js' %}"></script>

{% endblock %}