<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
</head>

<body>
    <div class="container">

        <div class="sidebar">
            <div class="logo">
                <p>ElectroDeals</p>
            </div>
            <a href="#" class="icon" id="dashboard-link">
                <img src="{% static 'img/dashboard.svg' %}">
                <h3>Dashboard</h3>
            </a>
            <a href="#" class="icon" id="users-link">
                <img src="{% static 'img/users.svg' %}">
                <h3>Users</h3>
            </a>
            <a href="#" class="icon" id="orders-link">
                <img src="{% static 'img/order.png' %}">
                <h3>Orders</h3>
            </a>
            <a href="#" class="icon" id="messages-link">
                <img src="{% static 'img/message.svg' %}">
                <h3>Messages</h3>
                <span class="message-count">25</span>
            </a>
            <a href="#" class="icon" id="products-link">
                <img src="{% static 'img/product.svg' %}">
                <h3>Products</h3>
            </a>
            <a href="#" class="icon" id="brands-link">
                <img src="{% static 'img/brand.png' %}">
                <h3>Brands</h3>
            </a>
            <a href="#" class="icon" id="categories-link">
                <img src="{% static 'img/category.png' %}">
                <h3>Categories</h3>
            </a>
            <a href="#" class="icon" id="settings-link">
                <img src="{% static 'img/setting.svg' %}">
                <h3>Settings</h3>
            </a>
            <a href="#" class="icon logout" id="logout-link">
                <img src="{% static 'img/logout.png' %}">
                <h3>Logout</h3>
            </a>
        </div>
    </div>

    <main>
        <div id="dashboard-content">
            <h1 class="dash-tag">Dashboard</h1>
            <div class="calendar">
                <input type="date">
            </div>
            <div class="insights">
                <div class="sales">
                    <div class="middle">
                        <div class="left">
                            <h3>Total sales</h3>
                            <h1>$25,000</h1>
                            <div class="number">
                                <p>81%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Last 24 hours</small>
                </div>

                <div class="expenses">
                    <div class="middle">
                        <div class="left">
                            <h3>Total Users</h3>
                            <h1>15,000</h1>
                        </div>
                        <div class="progress">
                            <div class="number">
                                <p>62%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Last 24 hours</small>
                </div>


                <div class="income">
                    <div class="middle">
                        <div class="left">
                            <h3>Total Orders</h3>
                            <h1>10,000</h1>
                        </div>
                        <div class="progress">

                            <div class="number">
                                <p>44%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Last 24 hours</small>
                </div>

            </div>

            <div class="recent-orders">
                <h2>Recent Orders</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Order Id</th>
                            <th>Payment</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                    </tbody>
                </table>
                <a href="#">Show all</a>
            </div>
        </div>

        <div id="users-content" style="display: none;">
            <h1 class="dash-tag">Users</h1>
            <div class="recent-orders">
                <h2>Recent Orders</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Order Id</th>
                            <th>Payment</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                    </tbody>
                </table>
            </div>  
        </div>

        <div id="orders-content" style="display: none;">
            <h1 class="dash-tag">Orders</h1>
            <div class="recent-orders">
                <h2>Recent Orders</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Order Id</th>
                            <th>Payment</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                    </tbody>
                </table>
            </div>  
        </div>

        <div id="messages-content" style="display: none;">
            <h1 class="dash-tag">Messages</h1>
            <!-- Add your messages specific content here -->
        </div>

        <div id="products-content" style="display: none;">
            <h1 class="dash-tag">Products</h1>
            <div class="recent-orders">
                <h2>Recent Orders</h2>
                <table>
                    <thead>
                        <!-- 'id', 'name', 'price', 'category', 'brand', 'description' -->
                        <tr>
                            <th>Image</th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Brand</th>
                            <th>price</th>
                            <th>Ram</th>
                            <th>Storage</th>
                            <th>Display</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                    </tbody>
                </table>
            </div>  
        </div>

        <div id="brands-content" style="display: none;">
            <h1 class="dash-tag">Brands</h1>
            <div class="recent-orders">
                <h2>Recent Orders</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Order Id</th>
                            <th>Payment</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                    </tbody>
                </table>
            </div>  
        </div>

        <div id="categories-content" style="display: none;">
            <h1 class="dash-tag">Categories</h1>
            <div class="recent-orders">
                <h2>Recent Orders</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Order Id</th>
                            <th>Payment</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                    </tbody>
                </table>
            </div>  
        </div>

        <div id="settings-content" style="display: none;">
            <h1 class="dash-tag">Settings</h1>
            <!-- Add your settings specific content here -->
        </div>

    </main>


    <div class="right">
        <div class="profile">
            <div class="info">
                <p>Hey, <b>Dipen</b></p>
                <small class="text-muted">Admin</small>
            </div>
        </div>


        <div class="recent-updates">
            <h2>Messages</h2>
            <div class="updates">
                <div class="update">
                    <div class="message">
                        <p><b>Che Neba</b> received his order of
                            Night Lion tech GPS drone</p>
                        <small class="text-muted">2 Minutes ago</small>
                    </div>
                </div>
                <div class="update">
                    <div class="message">
                        <p><b>Che Neba</b> received his order of
                            Night Lion tech GPS drone</p>
                        <small class="text-muted">2 Minutes ago</small>
                    </div>
                </div>
                <div class="update">
                    <div class="message">
                        <p><b>Che Neba</b> received his order of
                            Night Lion tech GPS drone</p>
                        <small class="text-muted">2 Minutes ago</small>
                    </div>
                </div>
                <div class="update">
                    <div class="message">
                        <p><b>Che Neba</b> received his order of
                            Night Lion tech GPS drone</p>
                        <small class="text-muted">2 Minutes ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="{% static 'js/dash_board.js' %}"></script>
</body>
</html>