{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
<div id="dashboard-content">
    <h1 class="dash-tag">Dashboard</h1>
    <div class="calendar">
        <input type="date">
    </div>
    <div class="insights">
        <div class="sales">
            <div class="middle">
                <div class="left">
                    <h3>Total sales</h3>
                    <h1>Rs {{totalSales}}</h1>
                    <div class="number">
                        <p>81%</p>
                    </div>
                </div>
            </div>
            <small class="text-muted">Last 24 hours</small>
        </div>

        <div class="expenses">
            <div class="middle">
                <div class="left">
                    <h3>Total Users</h3>
                    <h1>{{totalUser}}</h1>
                </div>
                <div class="progress">
                    <div class="number">
                        <p>62%</p>
                    </div>
                </div>
            </div>
            <small class="text-muted">Last 24 hours</small>
        </div>

        <div class="income">
            <div class="middle">
                <div class="left">
                    <h3>Total Orders</h3>
                    <h1>{{totalOrder}}</h1>
                </div>
                <div class="progress">

                    <div class="number">
                        <p>44%</p>
                    </div>
                </div>
            </div>
            <small class="text-muted">Last 24 hours</small>
        </div>
        </div>


        <div class="recent-orders">
            <h2>Recent Orders</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Customer</th>
                        <th>Order Date</th>
                        <th>Status</th>
                        <th>Transaction Id</th>
                        <th>Payment Method</th>


                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    {% if forloop.counter <= 7 %} 
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.customer }}</td>
                        <td>{{ order.date_ordered }}</td>
                        <td>{{ order.complete }}</td>
                        <td>{{ order.transaction_id }}</td>
                        <td>{{ order.payment_method }}</td>
                        <a href="#" style="text-decoration: none; cursor: pointer;">
                            <td>Details</td>
                        </a>
                    </tr>
                        {% endif %}
                        {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'order_dash' %}" id="orders-link">Show all</a>
        </div>
    </div>
    {% endblock %}