{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
<div id="brands-content">
    <div class="header-container">
        <h1 class="dash-tag">Brands</h1>
        <div class="search-add">

            <div class="search-container">
                <form action="{% url 'search_brand_dash' %}" method="get">

                    <input type="text" name="query"  id="brand-search-bar" class="search-bar"  autocomplete="on" placeholder="Search Brands..." value="{{ request.GET.query }}">

                <button type="submit" class="search-btn">
                    <img src="{% static 'img/search.png' %}" alt="Search" class="search-icon" />
                </button>
            </form>
            </div>
            <a href="{% url 'add_brand'%}" class="add" style="text-decoration: none;"><strong>Add Brand</strong></a>

        </div>
    </div>
    <div class="recent-orders">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Brand Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tbody>
                {% for brand in brand %}
                <tr>
                    <td>{{brand.id}}</td>
                    <td>{{brand.name}}</td>
                    <td>
                        <a href="{% url 'brand_detail' brand.id %}"
                           style="text-decoration: none; cursor: pointer; color: #a3bdcc;">Details</a>
                    </td>
                    <td>
                        <form method="POST" action="{% url 'delete_brand' brand.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" style="background: transparent; border: none; color: #a3bdcc; cursor: pointer;">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No brand found</td>
                </tr>
                {% endfor %}
            </tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}